body{
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke ;
    transition: background-color 0.3s, color 0.3s;

}


nav{
    background-color: black;
    color:white;
    padding: 1rem 2rem ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid transparent;

}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;

}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;

}

nav a:hover {
    color:gold;

}

#darkModeToggle {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.sayfa {
    display: none;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}


.sayfa.aktif {
    display: block;
    animation: fadeIn 0.5s ease-in-out;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:20px;
    margin-top: 20px;

}

.projekarti {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border: 2px solid transparent;
    transition: background-color 0.3s, color 0.3s, border 0.3s;

}

body.dark-mode {
    background-color: black;
    color: white;

}

body.dark-mode .projekarti {
    background-color: black;
    color: white;

    border: 2px solid white;
    box-shadow: none;

}

body.dark-mode nav
{
    border-bottom: 1px solid white;
}




@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px);}
    to{ opacity: 1; transform: translateY(0);}

}

